body{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;    
  margin: 0;
  font-family: Arial, sans-serif;
}

#titre{
  color: yellow;
	text-align: center;
	font-family: monospace;
  margin-top:20px;
  text-shadow: 0 0 10px yellow;
}

#page{
    display: grid;
    align-items: start;
    gap: 40px;
    width: 100%;
	  grid-template-columns: 1fr auto 1fr;
    max-width: 1300px;
    margin-top: 20px;
}

#canvas{
  justify-self: center;
  border-style: outset;
  border-color: yellow;
	box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
	background-color: black;
  border-width: 4px;
	display: block;
  }

#gauche, #droite{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#j1{color: blue;}
#j2{color: red;}

#score, #victoire{
  color: white;
  font-size: 22px;
}

#actions > * {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
}

#actions > *:hover{
  background-color: white;
  box-shadow: 0 0 10px yellow;
}

input[type="text"]{
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid lightgrey;
}

#input{
  display: flex;
	flex-direction: row;
}

#choix_touches{
		display: flex;
		justify-content: space-between;
		font-size: 20px;
		font-weight: bold;
}

#incorrect, #invalides{color: red;
	font-size: 90%;
	font-weight: bold;
}

#overlay, #overlay_touches {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

#popup, #popup_touches {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 150px auto;
  border-radius: 10px;
  text-align: center;
  position:relative;
}

#popup_touches{
  margin-top: 100px;
}

#texteRegles{
  display:None;
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  color:lightgrey;
}

.croix{
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 22px;
  color:black;
}

.croix:hover{
  color:red;
}