body {
    background-color: white;
    color: #545454;
}

#topbar {
    background-color: #163853;
    color: white;   
}

#menu {
    background-color: #1c4465;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#menu a{
    color:white;
}

#menu a:hover{
    background-color: #3b82f6;
    border: 5px solid #3b82f6;
}

section {
    background: #f5f5f5;
}

#photoPres{
    border: solid 5px #163853;
}

h1, h2, h3 {
    color: #163853;
}

.btn {
    background-color: #163853;
    color: white;
}

.btn:hover {
    background-color: #3b82f6;
}

#cv{
    background-color: #276394;
}

#cv:hover{
    background-color: #3b82f6;
}

.img-langage span {
    color: white;
    background: rgba(0,0,0,0.4);
}

.proj {
    background: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.fleche {
  background: transparent;
  color: black;
}

.lien-maps{
    color: #545454;
}

footer {
    background-color: #163853;
    color: white;
}

a {
    color: #163853;
}

@media (max-width: 600px) {

    section {
        background-color: #f5f5f5;
    }
    
}